// This is here to get you started

//$background:#6FC559;
//Is the above variable repeated?
$nav-color:#135b00;
$nav-bg-color:#6fc559;
$hover-background-color:#50C531;
//$hover-color:#135b00;
//$current-background;
//$current-color:#6FC559;

@mixin id-current-link-styles-function($link-bg-color,$link-color){
    a:link, a:visited, a:hover, a:active {
        background-color: $link-bg-color;
        color: $link-color;
        //text-decoration: $text-decor;
    }
}

nav {
    width: 100%;
}

#sitenav {
    font-weight: bold;
    font-size: 125%;
    //first instance of background color
    background-color: $nav-bg-color;
    color: $nav-color;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            //float: left;
            margin: 0;
            padding: 0;
            width: 12%;
            //background-color: $nav-bg-color;
            //do I need to repeat this through the nested items?
            //background-color: $nav-bg-color;
            a {
                // is this color property needed?
                // Yes
                color: $nav-color;
                display: block;
                text-align: center;
                text-decoration: none;
                //background-color: $nav-bg-color;
                padding-top: 10px;
                padding-bottom: 10px;
                &:hover{
                    background-color: #50dd31;
                    color: $nav-color;
                    text-decoration: underline;
                }
                &:active{
                    color: $nav-color;
                    //background-color: $nav-bg-color;
                }

            }
        }
        // nest select for #current here
        #current{
            @include id-current-link-styles-function($nav-color,$nav-bg-color)
        }
    }
}