/* news.css */

header{
    margin: auto;
    width: 100%;
    border: 3px solid white;
    color: white;
    background-color: #00207A;
    text-align: center;
}
header h1{
    /*float: left;*/
    /*display: block;*/
    text-align: center;
    font-size: xx-large;
    padding-right: 9em;
}
header h1 IMG{
    float: left;
    overflow: auto;
    padding-left: 7em;
}
header h4{
    font-style: italic;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1em;
}
body{
    background-color: #3D4D7A;
    width: 80%;
    margin: auto;
}
/*add hover links css*/
body a:link{
    color: darkmagenta;
    text-decoration: dotted;
}
body a:hover{
    color: saddlebrown;
    background-color: lightgreen;
}
section{
    background-color: white;
    border: double;
    padding: 16px;
    text-align: justify;
}
p{
    font-family: "Lucida Bright","DejaVu Sans Light",sans-serif;
    color: black;
    text-align: justify;
}
p.timestamp{
    color: darkblue;
    font-family: "Abyssinica SIL", Utopia, sans-serif;
    font-size: small;
    background-color: transparent;
}
#German-train-crash, #Oil-freeze{
    background-color: darkgrey;
    border: groove;
    height: 70%;
    padding: inherit;
    margin: 3px;
}
#Russia-Syria-war-crimes, #cancer-treatment, #EU-PM{
    background-color: lavenderblush;
    border: outset;
    height: 70%;
    padding: inherit;
    margin: 3px;
}