/* news.css */

header{
    margin: auto;
    width: 100%;
    border: 3px solid white;
    /*padding: 10px;*/
    color: white;
    background-color: #00207A;
    /*float: left;*/
    /*overflow: auto;*/
    text-align: center;
}
header h1{
    /*float: left;*/
    /*display: block;*/
    /*text-align: center;*/
    font-size: xx-large;
}
header h1 IMG{
    float: left;
    overflow: auto;
    /*padding-left: 5em;*/
}
header h4{
    font-style: italic;
    text-align: left;
    padding-top: 1.5em;
    padding-left: 1em;
}
body{
    background-color: #3D4D7A;
    width: 80%;
    margin: auto;
}
/*add hover links css*/
body a:link{
    color: darkmagenta;
    text-decoration: dotted;
}
section{
    background-color: white;
    border: double;
    padding: 16px;
    text-align: justify;
}