body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 20px 3%;
}

h1 {
    margin-bottom: 0.5em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.gallery {
    border: double #333;
    background-color: #e6bf99;
    margin-bottom: 2em;
    float: left;
    width: 100%;
}

.gallery img {
    width:17%; /* you can use % */
    height: auto;
    margin: 10px;
    border: thin solid black;
}
